@font-face {
    font-family: 'Monserrat';
    src: url(static/Montserrat-Regular.ttf);
}
@font-face {
    font-family: 'MonserratH1';
    src: url(static/Montserrat-ExtraBold.ttf);
}

body
{
    font-family: 'Monserrat';
}

h1
{
    font-family: 'MonserratH1';
}

.ImagenPortada
{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #ccc;
    background-size: cover;
    background-position: center;
    background-image: url(Perfil.jpg);
}

.card
{
    margin-top: 20px; 
    flex: 1 200px; 
    border: 1px solid #ccc;
    border-radius: 30px;
    text-align: center;
    padding: 10px;
    transition: box-shadow 0.3s ease;
}
.card:hover {
    box-shadow: 0px 0px 40px #ccc;
    cursor: pointer;
  }
  
.habilidad
{
    margin-top: 20px;
    width:100%; 
    height:60px; 
    background-color:black; 
    border-radius: 40px;
}

.linea-con-texto {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }
  
  .linea-con-texto hr {
    flex-grow: 1;
    height: 1px;
    background-color: black;
    margin: 0 10px;
  }
  
  .texto-en-linea {
    font-size: 50px;
    font-weight: bold;
    color: black;
    margin-left: 25px;
    margin-right: 25px;
  }