@font-face {
    font-family: 'Monserrat';
    src: url(../../static/Montserrat-Regular.ttf);
}

@font-face {
    font-family: 'MonserratH1';
    src: url(../../static/Montserrat-ExtraBold.ttf);
}

@font-face {
    font-family: 'MonserratLI';
    src: url(../../static/Montserrat-Medium.ttf);
}

@font-face {
    font-family: 'MonserratSpan';
    src: url(../../static/Montserrat-Bold.ttf);
}
header{
    background-color:black;
}
body {
    font-family: 'Monserrat';
}

.navbar {
    background-color: #17202A;
}

.nav-link:hover {
    color: #979A9A;
}
.nav-link
{
    color: white;
}

li {
    font-family: 'MonserratLI';
    font-size: 20px;
    margin-left: 40px;
    color:white;
}

h1 {
    font-family: 'MonserratH1';
}

h2 {
    font-family: 'Monserrat';
    font-size: 20px;
    color: black;
}


.card-libro {
    margin-top: 20px;
    flex: 1 200px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    text-align: center;
    padding: 10px;
    transition: all 0.4s ease;
}
.card-libro:hover {
    cursor: pointer;
    transform: translateY(-5px);
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.3);
}

span {
    font-family: 'MonserratSpan';
    font-size: 20px;
}

table {
    font-family: 'Monserrat';
    color: black;
}

input {
    font-family: 'Monserrat';
}

.card-title
{
    font-family: 'MonserratSpan';
    font-size: 18px;
    color: black;
}
.card-text {
    font-family: 'Monserrat';
    font-size: 15px;
    color: black;
}

.selectSt
{
    background-color: black;
    color:white;
}

.select {
    background-color: black;
}

.table-detallesLibro {
    border: none;
    width: 90%;
}

    .table-detallesLibro th {
        border: none;
        font-family: MonserratH1;
        font-size: 18px;
    }

    .table-detallesLibro td {
        border: none;
        font-family: Monserrat;
        font-size: 16px;
    }

.btn-detalleLibro {
    width: 90%;
    height: 60px;
    background-color: black;
    border-radius: 20px;
    margin: 0 auto;
    display: block;
    transition: all 0.4s ease;
}

    .btn-detalleLibro:hover {
        transform: translateY(-5px);
        border-radius: 10px;
        box-shadow: 0 2px 20px #ccc;
        background-color: black;
        color: white;
    }

.contenidoLista {
    width: 90%;
    border-radius: 10px;
    box-shadow: 0 2px 2px 2px #ccc;
}

.itemLista {
    border: solid 0.5px black;
    border-radius: 10px;
    transition: all 0.4s ease;
}

    .itemLista:hover {
        cursor: pointer;
        transform: translateY(-3px);
        box-shadow: 0 2px 6px black;
    }
