@font-face {
    font-family: 'Monserrat';
    src: url(../../static/Montserrat-Regular.ttf);
}
@font-face {
    font-family: 'MonserratH1';
    src: url(../../static/Montserrat-ExtraBold.ttf);
}
@font-face {
    font-family: 'MonserratLI';
    src: url(../../static/Montserrat-Medium.ttf);
}
@font-face {
    font-family: 'MonserratSpan';
    src: url(../../static/Montserrat-Bold.ttf);
}

body 
{
    font-family: 'Monserrat';
}
h1 
{
    font-family: 'MonserratH1';
}
h2 
{
    font-family: 'Monserrat';
    font-size: 20px;
    color: black;
}
li 
{
    font-family: 'MonserratLI';
    font-size: 20px;
    margin-left: 40px;
}

.card 
{
    margin-top: 20px; 
    flex: 1 200px; 
    border: none;
}
span 
{
    font-family: 'MonserratSpan';
    font-size: 20px;
}
table 
{
    font-family: 'Monserrat';
    color: black;
}
input 
{
    font-family: 'Monserrat';
}